<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/pages/error.css">
</head>

<body>
    <div class="error-container">
        <h1>Oops!</h1>
        <p>Something went wrong.</p>
        <% if (typeof message !=='undefined' ) { %>
            <p class="text-danger">
                <%= message %>
            </p>
            <% } %>
                <a href="/" class="btn btn-warning btn-home">Go Home</a>
    </div>
</body>

</html>